<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="example_quadruped_body" params="parent">
    <link name="body_link">
      <visual>
        <geometry><mesh filename="package://example_quadruped_description/meshes/body_link.stl" /></geometry>
        <material name="example_quadruped_material" />
      </visual>
      <collision>
        <geometry><mesh filename="package://example_quadruped_description/meshes/body_link.stl" /></geometry>
      </collision>
    </link>

    <joint name="body_joint" type="fixed">
      <parent link="${parent}" />
      <child link="body_link" />
    </joint>
  </xacro:macro>
</robot>
