<?xml version="1.0"?>
<launch>
  <param name="robot_description"
         command="xacro --inorder '$(find example_quadruped_description)/robots/example_quadruped.urdf.xacro'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" output="screen" required="true"
        args="-f base_link -d $(find example_quadruped_description)/launch/rviz.rviz" />
</launch>
