<?xml version="1.0"?>
<robot name="example_quadruped" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- If true, then only four legs are used -->
  <xacro:arg name="quadruped" default="true" />

  <xacro:include filename="$(find example_quadruped_description)/urdf/common.urdf.xacro" />
  <xacro:include filename="$(find example_quadruped_description)/urdf/body.urdf.xacro" />
  <xacro:include filename="$(find example_quadruped_description)/urdf/leg.urdf.xacro" />

  <link name="base_link" />
  <xacro:example_quadruped_body parent="base_link" />

  <xacro:example_quadruped_leg name="al" parent="body_link">
    <origin xyz="0.12062 0.070618 0.01525" rpy="0 0 ${pi / 4}" />
  </xacro:example_quadruped_leg>
  <xacro:example_quadruped_leg name="ar" parent="body_link">
    <origin xyz="0.12062 -0.070618 0.01525" rpy="0 0 ${-pi / 4}" />
  </xacro:example_quadruped_leg>

  <xacro:example_quadruped_leg name="bl" parent="body_link">
    <origin xyz="-0.12062 0.070618 0.01525" rpy="0 0 ${3 * pi / 4}" />
  </xacro:example_quadruped_leg>
  <xacro:example_quadruped_leg name="br" parent="body_link">
    <origin xyz="-0.12062 -0.070618 0.01525" rpy="0 0 ${-3 * pi / 4}" />
  </xacro:example_quadruped_leg>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/example_quadruped</robotNamespace>
    </plugin>
  </gazebo>
</robot>
