<?xml version="1.0"?>
<launch>
  <arg name="db" default="false" />
  <arg name="db_path" default="$(find example_quadruped_moveit_config)/default_warehouse_mongo_db" />

  <arg name="debug" default="false" />

  <include file="$(find example_quadruped_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="odom_tf_publisher" args="0 0 0 0 0 0 odom base_link 100" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false" />
    <rosparam param="source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"
        output="screen" />

  <include file="$(find example_quadruped_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true" />
    <arg name="fake_execution" value="true" />
    <arg name="info" value="true" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  <include file="$(find example_quadruped_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  <include if="$(arg db)" file="$(find example_quadruped_moveit_config)/launch/default_warehouse_db.launch">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>
</launch>
